
@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="mainApp">
<head>
    <meta charset="UTF-8" />
    <title>AngularJS</title>
    <script src="~/Angular/angular.min.js"></script>

    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://atuin.ru/demo/ui-slider/jquery.ui.touch-punch.min.js"></script>
    <link rel="stylesheet" href="https://atuin.ru/demo/ui-slider/jquery-ui.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://atuin.ru/demo/ui-slider/jquery-ui.min.js"></script>



    <script>
        mainApp = angular.module("mainApp", []);
        model = "Загрузка Базы Данных: ";

        mainApp.controller("mainController", function ($scope,
            RequestDataSirvice) {
            $scope.message = model;
            $scope.isLoading = false;
            $scope.isCustomersLoaded = false;
            $scope.requestStatus = "";
            $scope.info = [];
            $scope.minYear = 1895;
            $scope.maxYear = 2022;
            $scope.selectedGenre = $scope.info[0];




            //JQuerySlider
            $("#slider").slider({
                animate: "slow",
                range: true,
                min: 1895,
                max: 2022,
                values: ['1895', '2022'],
                slide: function (event, ui) {
                    $('#min').val(ui.values[0]);
                    $('#max').val(ui.values[1]);
                    $scope.maxYear = parseInt($('#max').val());
                    $scope.minYear = parseInt($('#min').val());
                    $scope.$apply()
                },
            });

            $scope.btnLoadClick = function () {
                var promiseObject = RequestDataSirvice.loadJson("/Movies/TestService");
                $scope.isLoading = true;
                $scope.isDataLoaded = false;

                promiseObject.then(
                    function (result) {
                        console.log(result);
                        $scope.isLoading = false;
                        $scope.requestStatus = "Фильмы: ";
                        $scope.info = result;
                        $scope.isDataLoaded = true;
                    },
                    function (errorResult) {
                        console.log(errorResult);
                        $scope.isLoading = false;
                        $scope.requestStatus = errorResult;
                    }
                );
            }
        });

    </script>
    <script src="~/Angular/20-requestDataService.js">

    </script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

</head>
<body ng-controller="mainController">
    <div class="container">
        <div class="DropMenu">
            <div>
                <img src="" style="margin-right: 10px;" />
            </div>
            <div class="DropMenu-content">
                <div style="margin-right: 20px; vertical-align: top;">
                    <label for="select"> Год выхода: </label>
                    <div class="form-range" id="slider" style="max-width: 10rem; margin-bottom: 10px; "></div>
                    <div id="slider-range" style="display: flex; flex-direction: row;">
                        <input type="text" id="min" value="1895" style="max-width: 5rem; max-height: 2rem;">
                        <input type="text" id="max" value="2022" style="max-width: 5rem; max-height: 2rem;">
                    </div>
                </div>
                <div style="display: flex; flex-direction: column; margin-right: 20px; vertical-align: top;">
                    <label for="select"> Выберите жанр: </label>
                    <select ng-model="selectedGenre"
                        ng-options="item.genre for item in info">
                        
                    </select>
                </div>
                <div style="display: flex; flex-direction: column; margin-right: 20px; vertical-align: top;">
                    <fieldset>
                        <legend>Страна:</legend>
                        <div>
                            <input type="checkbox" value="USA">
                            <label for="coding">США</label>
                        </div>
                        <div>
                            <input type="checkbox" value="RUSSIA">
                            <label for="music">Россия</label>
                        </div>
                    </fieldset>
                </div>
            </div>

        </div>
    </div>
   <br/>
    <div class="container">
        <h2>{{message}}</h2>
        <div>
            <button class="btn-dark" ng-click="btnLoadClick()">
                Список фильмов
            </button>
        </div>
        <div>
            <img ng-show="isLoading" src="~/Angular/loading.gif" />
        </div>
        <div ng-hide="isLoading">
            <h4>{{requestStatus}} </h4>
        </div>

        <div ng-show="isDataLoaded">

            <div ng-repeat="item in info">
                <div class="card" style="width: 18rem;">
                    <img src="~/StoredImages/{{item.imageUrl}}" alt="Sample" />
                    <div class="container">
                        <h5 class="card-title">{{item.name}}</h5>
                        <p class="card-text">{{item.discription}}</p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{item.country}}</li>
                        <li class="list-group-item">{{item.realease}} год</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>

</body>
</html>
