
@using BestFilmASPNewVersion.Helpers
@model BestFilmASPNewVersion.Domains.Movie

<div class="card" style="width: 18rem;">
    <img src="~/StoredImages/@Model.ImageUrl" alt="Sample"/>
    <div>
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Discription</p>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">@Model.Country</li>
        <li class="list-group-item">@Model.Realease год</li>
    </ul>

</div>

