@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Приветствую!</h1>
    <ul>
        <a asp-controller="Movies" asp-action="ListView">Смотреть фильмы онлайн</a>
    </ul>
   


</div>